body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.drop-down-button,
.drop-down-menu {
  border: 1px solid black;
  width: 300px;
}

.drop-down-button {
  text-align: right;
}

.drop-down-menu {
  border: 1px solid black;
}