/* tailwind slate color palette */
:root {
  --slate-50: #f9fafb;
  --slate-100: #f3f4f6;
  --slate-200: #e5e7eb;
  --slate-300: #d1d5db;
  --slate-400: #b9c1ce; /*main*/
  --slate-500: #6b7280;
  --slate-600: #4b5563;
  --slate-700: #374151;
  --slate-800: #1f2937;
  --slate-900: #111827;

  --blue-100: #eff4ff;
  --blue-300: #4482ff;
}

html,
body {
  height: 100%;
}

html {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  --gray: rgb(185, 189, 192);
}

body {
  color: var(--slate-400);
  background-color: var(--slate-200);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drop-down-menu {
  /* hide drop down menu */
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.active-menu {
  /* show drop down menu */
  opacity: 1;
}

.active-button {
  color: var(--blue-300);
}

.drop-down-button-container,
.drop-down-menu {
  width: 320px;
}

.drop-down-button-container {
  margin-top: 20px;
  margin-bottom: 7px;
  display: flex;
  align-items: center;
  justify-content: right;
}

.drop-down-button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.drop-down-menu,
button {
  background-color: white;
  border-radius: 5px;
}

button {
  height: 40px;
  width: 100px;
  cursor: pointer;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

h1 {
  font-size: 0.8rem;
  font-weight: 600;
}

li,
h1 {
  height: 41px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

h1:first-of-type {
  margin-top: 5px;
}

li:last-of-type {
  margin-bottom: 10px;
}

li {
  cursor: pointer;
  border-radius: 4px;
  margin: 4px;
  box-sizing: border-box;
}

li:hover {
  color: var(--blue-300);
  background-color: var(--blue-100);
  transition: 0.05s;
}

button:hover {
  color: var(--blue-300);
  transition: 0.05s;
}

hr {
  color: var(--slate-200);
  border-style: solid;
  border-width: 1px 0 0 0;
  width: 90%;
  margin: 10px auto;
}

/* svg */

svg {
  height: 13px;
  width: auto;
}

.drop-down-menu svg {
  fill: var(--slate-400);
  margin-right: 17px;
}

li:hover svg,
button:hover svg {
  fill: var(--blue-300);
  transition: 0.05s;
}
