/* tailwind slate color palette */
:root {
  --slate-50: #f9fafb;
  --slate-100: #f3f4f6;
  --slate-200: #e5e7eb;
  --slate-300: #d1d5db;
  --slate-400: #afb7c3;
  --slate-500: #6b7280;
  --slate-600: #4b5563;
  --slate-700: #374151;
  --slate-800: #1f2937;
  --slate-900: #111827;
}

html,
body {
  height: 100%;
}

html {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  --gray: rgb(185, 189, 192);
}

body {
  color: var(--slate-400);
  background-color: var(--slate-200);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drop-down-button-container,
.drop-down-menu {
  width: 300px;
}

.drop-down-button-container {
  margin-top: 20px;
  margin-bottom: 7px;
  display: flex;
  align-items: center;
  justify-content: right;
}

.drop-down-menu,
button {
  background-color: white;
  border-radius: 5px;
}

button {
  height: 40px;
  width: 100px;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

h1 {
  font-size: 0.8rem;
  font-weight: 600;
}

li,
h1 {
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

li:last-of-type {
  padding-bottom: 10px;
}

hr {
  color: var(--slate-200);
  border-style: solid;
  border-width: 1px 0 0 0;
  width: 90%;
  margin: 10px auto;
}

svg {
  height: 14px;
  width: auto;
  fill: var(--slate-400);
}

.drop-down-menu svg {
  margin-right: 14px;
}
